<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LiveFlicks</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="shortcut icon" href="./images/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="index">
        <form action="/login" method="POST">
            <input type="text" name="email" id="" placeholder="Enter Email" autocomplete="off">
            <input type="password" name="password" placeholder="Enter Password">
            <input type="submit" name="submit" id="" value="Login">
            <p>Create Account? <a href="/">New Account</a></p>
        </form>
    </div>
</body>
</html>